
#https://discord.com/developers/docs/quick-start/getting-started
TOKEN='EXAMPLE_DISCORD_BOT_TOKEN' 
GUILD_ID='EXAMPLE_DISCORD_GUILD_ID'
BOT_ID='EXAMPLE_DISCORD_BOT_ID'
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=