.modal-container {
    position: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 120, 120);
}

.modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 100%;
    color: black;
}