.modal-container {
    position: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 120, 120);
}

.modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 100%;
    color: black;
}

.modal .submit-btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: none;
    background-color: aqua;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
}

.project-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.project-inputs input, textarea, select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}

.project-inputs label {
    margin-bottom: 0.2rem;
}