/* background and font - reuseable for all pages*/
.backgroundFont {
  
  font-family: 'Jura', Arial, sans-serif; /* Ensure all text uses Jura */
}

.isNew{
  background: hsl(136, 84%, 66%);
  height: 8px;
  width: 8px;
}

.semester{
  background: hsl(300, 87%, 73%);
  height: 20px;
  width: 50px;
}